  <div *ngIf="item">
    <img class="imageArtist" [hidden]='albumId == item.id && albumLoaded==true' (click)="selectArtist(item.id)" *ngIf="item.images[0]" [src]="item.images[0].url"/>
  </div>
  <div *ngIf="albums" >
  <div id="albumsContainer">
    <div class="album" *ngFor="let album of albums" >
     <div class="row">
      <div class="col-md-4">
        <img (mouseover)="selectAlbum(album.id)" *ngIf="album.images[0]" [src]="album.images[0].url"  width="auto" height="100px" />
      </div>
      </div>
    </div>
    </div>
    <div class="description">
      <div *ngIf="tracks" >
          <div *ngFor="let track of tracks" >
              <div (click)='selectTrack(track)' >{{track.name}}</div>
<!-- /*              <div>
                <iframe [src]="https://embed.spotify.com/?"+{{track.uri}}+"" frameborder="0" allowtransparency="true"></iframe>
              </div>*/ -->
          </div>
      </div>
    </div>
  </div>
  <iframe src="https://embed.spotify.com/?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai" frameborder="0" allowtransparency="true"></iframe>