#albumsContainer{
	height: 100px;
	width: 100%;
	overflow-y: auto;

}
.album{
	display:inline-block;	
}
.description{
    height: auto;
	width: 100%;
	margin-top: 20px;
}
.imageArtist{
	height: 100%;
	width: 50%;
}
.artist-title{ font-weight: bold;text-align:center;}
.artist:hover{ background: #22242a; color: white;}

.artist-image{width: 25%;float:left;}
.artist-textContainer{position: relative;margin-left: 25%;}
.artist-description{}
.circle{
	width: calc(100%*0.8);
	height: calc(width);
	border-radius: 50%;
}
.tracks{
	margin-top: 10px;
}