.container {display:table;width:100%;height: 100%;position:absolute;top:0px;left: 0px;}
.sidebar {
  width: 150px;
  height: 100%;
  display:table-cell;
  background-color: #ac0809;
}
.sidebar2 {
  width: 0px;
  height: 100%;
  display:table-cell;
  background-color: black;
  transform: translate(150,150);
}
#view {
  width: auto;
  display:table-cell;
  /*background-color: url('../images/transparent.png') ;*/
  background-color: #A53030;
}

*html #view {float:left;    max-height: 100%;   }

.sidebar-nav{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 110px;
    list-style-type: none;
}
.sidebar-nav ul{
    width: 100%;
}
.sidebar-nav2{
  width: 0px;
/*    -ms-transform: translate(-150px,100px); 
    -webkit-transform: translate(-150px,100px); 
    transform: translate(-150px,100px); */
}
.toggleButton{
  position: absolute;
  top: 0px;
  left:0px;
}
.menu{
  width: 35px;
  height: 35px;
  z-index:9999;
}
.menu2{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  z-index:9999;
}
a{
  text-decoration:none;
}
.routerLinkLogin{
  position: absolute;
  top:40px;
  left: 0px;
  width: 100%;
  text-align: center;
  text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
  color:#A53030;
  font-size: 200%;
}
.routerLinkListen{
  position: absolute;
  top:85px;
  left: 0px;
  width: 100%;
  text-align: center;
  color:#A53030;
  text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
  font-size: 200%;
}
.active{
  background-color: #A53030;
  border-left:20px solid  #A53030;
  font-style: bold;
  text-shadow: -0.25px 0 black, 0 0.25px black, 0.25px 0 black, 0 -0.25px black;
  color:#ac0809;
  font-size: 200%;
}