.container {display:table;width:100%;height: 100%;position:absolute;top:0px;left: 0px;}
#sidebar {
  width: 150px;
  height: 100%;
  display:table-cell;
  background-color: black;
}
#view {
  width: auto;
  display:table-cell;
  /*background-color: url('../images/transparent.png') ;*/
  background-color: #A53030;
}

*html #view {float:left;    max-height: 100%;   }

.sidebar-nav{
    position: absolute;
    top: 10px;
    left: 5px;
}
