.container {display:table;width:100%;height: 100%;position:absolute;top:0px;left: 0px;}
.sidebar {
  width: 150px;
  height: 100%;
  display:table-cell;
  background-color: #22242a;
}
.sidebar2 {
  width: 0px;
  height: 100%;
  display:table-cell;
  background-color: black;
  transform: translate(150,150);
}
#view {
  width: auto;
  display:table-cell;
  /*background-color: url('../images/transparent.png') ;*/
  background-color: #A53030;
}

*html #view {float:left;    max-height: 100%;   }

.sidebar-nav{
    position: absolute;
    top: 10px;
    left: 5px;
}
.sidebar-nav2{
  width: 0px;
/*    -ms-transform: translate(-150px,100px); 
    -webkit-transform: translate(-150px,100px); 
    transform: translate(-150px,100px); */
}
.toggleButton{
  position: absolute;
  top: 0px;
  left:0px;
}
.menu{
  width: 35px;
  height: 35px;
  z-index:9999;
}