<input id="query" [(ngModel)]="querySpotify" [ngFormControl]="search">
<input id="query2" [(ngModel)]="queryYT" [ngFormControl]="search2">


<div class='result-video2'>
	<div id="player">
	</div>
	<div (click)='selectVideo(video,$event)' id='result/{{video.id.videoId}}' class='video' *ngFor="let video of results | async" >
	  	<div   [class.highlight]="videoSelected === video" ><!--[hidden]='id==video.id.videoId && hide' -->
		  	<div class=video-image>
		  		<img [src]="video.snippet.thumbnails.default.url"/>
		  	</div>
		  	<div class='video-textContainer'>
			  	<div class="video-title">
					<p>{{video.snippet.title}}</p>
				</div>
	<!-- 		  	<div class="video-description">	
				  <p>{{video.snippet.description}}</p>
			  	</div> -->
		  	</div>	
	  	</div>
	  	<div  id="player/{{video.id.videoId}}" ></div>
	  	<div>
	  		<button (click)="queue(video.id.videoId)">Queue</button>
	  		<button>Add</button>
	  	</div>
	</div>
</div>
	<div class='result-video'>
	<div  class='video' *ngFor="let item of results2 | async">
		<albums (selectedTrackEvent)='handleMyEvent($event)' [item]='item'></albums>


	</div>
</div>
<div class="controller">
<button (click)="controlVideo()">Pause</button>
</div>
